{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'css/style.min.css'%}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <img src="{% static 'images/gato.png'%}" class="logo"/>
                </div>
                <div class="col-auto">
                    <h1 class="text-center">BaratOnline: Tu tienda virtual favorita</h1>
                </div>
            </div>  

        </div>    
    </body>
</html>
